<!-- ko with: board -->
<div class="jumbotron">
    <div class="container">
        <div class="page-header"><h1>Project title <small>So cool</small></h1></div>
    </div>
</div>
<div class="container table-responsive">

    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="info">
                <th><h3 class="text-center">To Do</h3></th>
                <th><h3 class="text-center">Define</h3></th>
                <th><h3 class="text-center">Implement</h3></th>
                <th><h3 class="text-center">Verify</h3></th>
                <th><h3 class="text-center">Done</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!--       <ul class="notes list-unstyled">
            <li><p>Make a sandwich</p></li>
            <li><p>Have a beer</p></li>
            <li><p>File that TPS report</p></li>
        </ul> -->
                    <div class="metro">
                        <div class="tile bg-cyan double double-vertical"><p>Make a peanut butter and jelly sandwich</p></div>
                        <div class="tile bg-cobalt"><p>Have a beer</p></div>
                        <div class="tile bg-violet"><p>Contemplate what it'd be like to be a gorilla-sized ant</p></div>
                        <div class="tile bg-amber double-vertical"><p>File that TPS report ASAP</p></div>

                    </div>
                </td>
                <td>
                    <ul class="notes list-unstyled">
                        <li><p>Consider buying a boat</p></li>
                    </ul>
                <td>
                    <ul class="notes list-unstyled">
                        <li><p>Browse Reddit</p></li>
                        <li><p>Make KoolBan</p></li>
                    </ul>
                </td>
                <td>
                    <ul class="notes list-unstyled">
                        <li><p>No gum on these shoes</p></li>
                    </ul>
                </td>
                <td>
                    <ul class="notes list-unstyled">
                        <li><p>Onion rings</p></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
        <p data-bind="text: myHometown"></p>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
