@{
    ViewBag.Title = "About";
}
<div class="metro" style="margin: 0;">
    <div class="container">
        <div class="heading">
            <h1>About</h1>
        </div>
        <br />
        <legend style="background-color: #60a917; color: #ffffff">What is Kanban?</legend>
        <blockquote cite="http://en.wikipedia.org/wiki/Kanban">
            Kanban(literally signboard or billboard in Japanese) is a scheduling system for lean and just-in-time (JIT) production.
            Kanban is a system to control the logistical chain from a production point of view, and is not an inventory control system. Kanban was developed by Taiichi Ohno,
            at Toyota, as a system to improve and maintain a high level of production. Kanban is one method through which JIT is achieved.<br /><br />
            Kanban became an effective tool in support of running a production system as a whole and it proved to be an excellent way for promoting improvement.
            Problem areas were highlighted by reducing the number of kanban in circulation. One of the main benefits of Kanban is to establish an upper limit to the
            work in progress inventory, avoiding overloading of the manufacturing system.
            <br /><a href="http://en.wikipedia.org/wiki/Kanban" style="font-size: 0.7em">[Source: Wikipedia]</a>
        </blockquote>
        <br />
        <div class="video-container">
            <iframe src="http://www.youtube.com/embed/DdYdIMe0Sl8" frameborder="0" width="560" height="315"></iframe>
        </div>
        <hr/>

        <legend style="background-color: #fa6800; color: #ffffff">What is a Kanban Board?</legend>

        <blockquote cite="http://en.wikipedia.org/wiki/Kanban_board">
            A kanban board is one of the tools which can be used to implement the kanban method for a project.<br /><br />
            Kanban boards are perceived as a variation on traditional kanban cards. Instead of the signal cards that represent demand or capacity, the board utilizes magnets,
            plastic chips, colored washers or sticky notes to represent work items. Each of these objects represents an item in a
            production process and it moves around the board. Its movement corresponds with a manufacturing process.
            The board is usually divided into three sections: "awaiting production", "work in progress" and "completed work".
            Employees move cards to the section on the board that coincides with the receptacle it represents.<br /><br />
            Kanban can be used to organize many areas of life. There are many possible kanban board designs.
            The simplest kanban board consists of three columns: "to-do", "in progress" and "done".<br /><br />
            The most popular example of kanban board for agile or lean software development consists of:
            Backlog, Ready, Coding, Testing, Approval and Done columns. It is also a common practice to name columns in a different way,
            for example: Next, In Development, Done, Customer Acceptance, Live.
            <br /> <a href="http://en.wikipedia.org/wiki/Kanban_board" style="font-size: 0.7em">[Source: Wikipedia]</a>
        </blockquote>
        <br />
        <div class="video-container">
            <iframe src="http://www.youtube.com/embed/N3BoLRVXoI0" frameborder="0" width="560" height="315"></iframe>
        </div>
        <hr />

        <legend style="background-color: #6a00f0; color: #ffffff">License</legend>

        <p>Code licensed under the GPLv3</p>
        <p>For more information, visit: <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html">GNU.org</a></p>
    </div>
</div>