
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() // Generates a hidden form field (anti-forgery token) that is validated when the form is submitted.
    <input type="password" name="pwd" id="pwd" />
    <input type="submit" value="Sign in" />
}