body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.metro .tile p {
    position: relative;
    padding: 14px 14px 14px 14px;
    text-align: center;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #fff;
    font-family: 'Open Sans Condensed Light', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

.metro .tile .logo {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 29px;
    height: 29px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    margin: 0;
    vertical-align: middle !important;
    display: block;
    font-size: 12pt;
    font-family: 'Glyphicons Halflings';
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.metro .tile .main {
    position: relative;
}

.kanban {
    background-color: #00529b;
}

.kanban-table{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
}

.kanban-table td {
    vertical-align: top;
    width: 280px;
    max-width: 280px;
    -moz-min-width: 280px;
    -ms-min-width: 280px;
    -o-min-width: 280px;
    -webkit-min-width: 280px;
    min-width: 280px;
    margin: 20px;
    padding: 5px 5px 5px 5px;
    display: table-cell;
    z-index: -1;
}

.kanban .h3 {
    color: #fff;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: lighter;
}

.kanban .columnhead {
    color: #fff;
    position: relative;
    width: 280px;
    max-width: 280px;
    -moz-min-width: 280px;
    -ms-min-width: 280px;
    -o-min-width: 280px;
    -webkit-min-width: 280px;
    min-width: 280px;
    display: table-cell;
    padding-left: 5px;
}

.kanban .columnhead .restriction {
    display: block;
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 25px;
}

.kanban .columnhead .limit {
    color: #fff;
    font-size: 18px;
    position: relative;
}

.metro .tile .config {
    position: absolute;
    top: 0;
    right: 10px;
    width: 29px;
    height: 29px;
    text-align: center;
    padding: 2px;
    margin: 0;
    vertical-align: middle !important;
    display: block;
    font-size: 12pt;
    font-weight: 100;
    font-family: 'Glyphicons Halflings';
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    visibility: hidden;
}

.metro .tile {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none
}

.metro .tile:hover .config {
    visibility: visible !important; 
} 

.bg-darkGreen:hover {
    outline: 3px solid #60a917 !important;
}
.bg-darkEmerald:hover {
    outline: 3px solid #008a00 !important;
}
.bg-darkTeal:hover {
    outline: 3px solid #00aba9 !important;
}
.bg-darkCyan:hover {
    outline: 3px solid #1ba1e2 !important;
}
.bg-darkCobalt:hover {
    outline: 3px solid #0050ef !important;
}
.bg-darkIndigo:hover {
    outline: 3px solid #6a00ff !important;
}
.bg-darkViolet:hover {
    outline: 3px solid #aa00ff !important;
}
.bg-darkPink:hover {
    outline: 3px solid #dc4fad !important;
}
.bg-darkMagenta:hover {
    outline: 3px solid #d80073 !important;
}
 .bg-darkCrimson:hover {
    outline: 3px solid #a20025 !important;
}
.bg-darkRed:hover {
    outline: 3px solid #e51400 !important;
}
.bg-darkOrange:hover {
    outline: 3px solid #fa6800 !important;
}
.bg-darkBrown:hover {
    outline: 3px solid #825a2c !important;
}
.metro .modal-btn {
    float: right;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 2px 12px 3px;
    font-size: 16px;
    line-height: 1.5em;
    -ms-border-radius: 0px;
    border-radius: 0px;
    font-weight: 700;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -ms-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    margin: 5px;
    border: 3px solid #555;
    color: #555;
    background-color: #fff;
}

.metro .modal-btn:hover {
    background-color: #555 !important;
    color: #FFF !important;
}


.metro .modal-btn-violet {
    float: right;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 2px 12px 3px;
    font-size: 16px;
    line-height: 1.5em;
    margin: 5px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    font-weight: 700;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -ms-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    border: 3px solid #555;
    color: #555;
    background-color: #fff;
    border: 3px solid #7C40A2;
    color: #7C40A2;
}

.metro .modal-btn-violet:hover {
    background-color: #7C40A2 !important;
    color: #FFF !important;
}

.metro .button-set button {
  display: block;
  float: left;
  margin: 1px;
  margin-right: 1px;
}

.metro .button-set button.active {
    outline: 2px solid #000000
}

#notResizable {
    resize: none
;}