body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.metro .tile p {
    position: relative;
    padding: 14px 14px 14px 14px;
    text-align: center;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #fff;
    font-family: 'Open Sans Condensed Light', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.metro .tile .logo {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 29px;
    height: 29px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    margin: 0;
    vertical-align: middle !important;
    display: block;
    font-size: 12pt;
    font-family: 'Glyphicons Halflings';
    background-color: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.metro .tile .main {
    position: relative;
}

.kanban {
    background-color: #00529b;
}

.kanban .h3 {
    color: #fff;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: lighter;
}

.kanban .columnhead {
    color: #fff;
    position: relative;
}

.kanban .columnhead .restriction {
    display: block;
    color: #fff;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.kanban .columnhead .limit {
    color: #fff;
    font-size: 18px;
    position: relative;
}
